.main-content{
  margin-top:80px;
  height:600px;
  margin-left:80px;
  margin-right:80px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
}

.navbar
{
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
}

/* .container{

  margin: 0px;
  padding-left:80px;
} */
